<?xml version="1.0"?>
<config>
    <modules>
        <Cyberfision_Brandshow>
            <version>0.0.4</version>
        </Cyberfision_Brandshow>
    </modules>
    <global>
        <blocks>
            <cyberfision_brandshow>
                <class>Cyberfision_Brandshow_Block</class>
            </cyberfision_brandshow>
        </blocks>
        <helpers>
            <cyberfision_brandshow>
                <class>Cyberfision_Brandshow_Helper</class>
            </cyberfision_brandshow>
        </helpers>
        <models>
            <cyberfision_brandshow>
                <class>Cyberfision_Brandshow_Model</class>
            </cyberfision_brandshow>
        </models>
        <resources>
            <cyberfision_brandshow_setup>
                <setup>
                    <module>Cyberfision_Brandshow</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cyberfision_brandshow_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <cyberfision_brandshow>
                    <file>cyberfision_brandshow.xml</file>
                </cyberfision_brandshow>
            </updates>
        </layout>
        <routers>
            <cyberfision_brandshow>
                <use>standard</use>
                <args>
                    <module>Cyberfision_Brandshow</module>
                    <frontName>buyguide</frontName>
                </args>
            </cyberfision_brandshow>
        </routers>
    </frontend>
</config>