<?xml version="1.0"?>
<config>
    <modules>
        <GhoSter_ProductVideo>
            <version>1.0.0</version>
        </GhoSter_ProductVideo>
    </modules>
    <global>
        <models>
            <ghoster_productvideo>
                <class>GhoSter_ProductVideo_Model</class>
                <resourceModel>ghoster_productvideo_resource</resourceModel>
            </ghoster_productvideo>
            <ghoster_productvideo_resource>
                <class>GhoSter_ProductVideo_Model_Resource</class>
            </ghoster_productvideo_resource>
        </models>
        <blocks>
            <ghoster_productvideo>
                <class>GhoSter_ProductVideo_Block</class>
            </ghoster_productvideo>
        </blocks>
        <helpers>
            <ghoster_productvideo>
                <class>GhoSter_ProductVideo_Helper</class>
            </ghoster_productvideo>
        </helpers>
        <resources>
            <ghoster_productvideo_setup>
                <setup>
                    <module>GhoSter_ProductVideo</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ghoster_productvideo_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ghoster_productvideo>
                    <file>ghoster/productvideo.xml</file>
                </ghoster_productvideo>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <ghoster_save_product_data>
                        <type>singleton</type>
                        <class>ghoster_productvideo/observer</class>
                        <method>saveProductVideoTabData</method>
                    </ghoster_save_product_data>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
</config>