<?xml version="1.0"?>
<!--
/**
 * Unitech Corp.
 *
 * @category   Unitech
 * @package    Unitech_LandingPage
 * @version    0.0.1
 * @copyright  @copyright Copyright (c) 2015 Unitech Corp. (http://www.unitech.vn)
 */
-->
<config>
    <modules>
        <Unitech_LandingPage>
            <version>0.1.1</version>
        </Unitech_LandingPage>
    </modules>
    <frontend>
        <routers>
            <landingpage>
                <use>standard</use>
                <args>
                    <module>Unitech_LandingPage</module>
                    <frontName>landingpage</frontName>
                </args>
            </landingpage>
        </routers>
        <layout>
            <updates>
                <landingpage>
                    <file>unitech_landingpage.xml</file>
                </landingpage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Unitech_LandingPage>
                    <files>
                        <default>Unitech_LandingPage.csv</default>
                    </files>
                </Unitech_LandingPage>
            </modules>
        </translate>
    </frontend>
	<admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unitech_landingpage before="Mage_Adminhtml">Unitech_LandingPage_Adminhtml</unitech_landingpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>  
    <adminhtml>
        <layout>
            <updates>
                <landingpage>
                    <file>unitech_landingpage.xml</file>
                </landingpage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Unitech_LandingPage>
                    <files>
                        <default>unitech_landingpage.csv</default>
                    </files>
                </Unitech_LandingPage>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <landingpage>
                        <class>Unitech_LandingPage_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </landingpage>
                </observers>
            </controller_front_init_routers>
        </events>
        <models>
            <unitech_landingpage>
                <class>Unitech_LandingPage_Model</class>
                <resourceModel>unitech_landingpage_mysql4</resourceModel>
            </unitech_landingpage>
            <unitech_landingpage_mysql4>
                <class>Unitech_LandingPage_Model_Mysql4</class>
                <entities>
                    <landingpage>
                        <table>unitech_landingpage</table>
                    </landingpage>
                    <store>
                        <table>unitech_landingpage_store</table>
                    </store>
                </entities>
            </unitech_landingpage_mysql4>
        </models>
        <helpers>
            <unitech_landingpage>
                <class>Unitech_LandingPage_Helper</class>
            </unitech_landingpage>
        </helpers>
        <blocks>
            <unitech_landingpage>
                <class>Unitech_LandingPage_Block</class>
            </unitech_landingpage>
        </blocks>
        <resources>
            <unitech_landingpage_setup>
                <setup>
                    <module>Unitech_LandingPage</module>
                    <class>Unitech_LandingPage_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unitech_landingpage_setup>
            <unitech_landingpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unitech_landingpage_write>
            <unitech_landingpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unitech_landingpage_read>
        </resources>
    </global>
    <default>
        <unitech_landingpage>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <frontend>
                <column_count>3</column_count>
                <default_router>bestsellers</default_router>
                <grid_per_page_values>30,60,90</grid_per_page_values>
                <grid_per_page>60</grid_per_page>
                <default_sort_by>sort_order</default_sort_by>
                <meta_title><![CDATA[Best Sellers]]></meta_title>
                <meta_description><![CDATA[Best Sellers from XYZ - XYZ is your Total Solutions Company for all your needs. 1000's of In-Stock products, Same Day shipping.]]></meta_description>
            </frontend>
        </unitech_landingpage>
    </default>
</config>