<?xml version="1.0"?>
<config>
    <modules>
        <GhoSter_SocialCount>
            <version>1.0.0</version>
        </GhoSter_SocialCount>
    </modules>
    <global>
        <models>
            <ghoster_socialcount>
                <class>GhoSter_SocialCount_Model</class>
                <resourceModel>ghoster_socialcount_resource</resourceModel>
            </ghoster_socialcount>
            <ghoster_socialcount_resource>
                <class>GhoSter_SocialCount_Model_Resource</class>
            </ghoster_socialcount_resource>
        </models>
        <blocks>
            <ghoster_socialcount>
                <class>GhoSter_SocialCount_Block</class>
            </ghoster_socialcount>
        </blocks>
        <helpers>
            <ghoster_socialcount>
                <class>GhoSter_SocialCount_Helper</class>
            </ghoster_socialcount>
        </helpers>
    </global>
    <frontend>
        <routers>
            <socialsharecount>
                <use>standard</use>
                <args>
                    <module>GhoSter_SocialCount</module>
                    <frontName>socialsharecount</frontName>
                </args>
            </socialsharecount>
        </routers>
        <layout>
            <updates>
                <socialsharecount>
                    <file>ghoster/social_count.xml</file>
                </socialsharecount>
            </updates>
        </layout>
    </frontend>
    <default>
        <social_share_count>
            <general>
                <active>1</active>
                <enable_button>1</enable_button>
            </general>
            <facebook>
                <enabled>1</enabled>
            </facebook>
            <linkedin>
                <enabled>1</enabled>
            </linkedin>
            <pinterest>
                <enabled>1</enabled>
            </pinterest>
            <google>
                <enabled>1</enabled>
                <api_key>AIzaSyCKSbrvQasunBoV16zDH9R33D88CeLr9gQ</api_key>
            </google>
            <twitter>
                <enabled>1</enabled>
            </twitter>
        </social_share_count>
    </default>
</config>