<?xml version="1.0" ?>

<config>
    <modules>
        <GhoSter_CategorySlider>
            <version>1.0.2</version>
        </GhoSter_CategorySlider>
    </modules>
    <global>
        <models>
            <ghoster_categoryslider>
                <class>GhoSter_CategorySlider_Model</class>
            </ghoster_categoryslider>
        </models>
        <helpers>
            <ghoster_categoryslider>
                <class>GhoSter_CategorySlider_Helper</class>
            </ghoster_categoryslider>
        </helpers>
        <blocks>
            <ghoster_categoryslider>
                <class>GhoSter_CategorySlider_Block</class>
            </ghoster_categoryslider>
        </blocks>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <ghoster_categoryslider>
                        <type>singleton</type>
                        <class>GhoSter_CategorySlider_Model_Observer</class>
                        <method>catalogCategoryPrepareSave</method>
                    </ghoster_categoryslider>
                </observers>
            </catalog_category_prepare_save>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <ghoster_categoryslider>
                        <type>singleton</type>
                        <class>GhoSter_CategorySlider_Model_Observer</class>
                        <method>adminhtmlCatalogCategoryTabs</method>
                    </ghoster_categoryslider>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <resources>
            <ghoster_categoryslider_setup>
                <setup>
                    <module>GhoSter_CategorySlider</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ghoster_categoryslider_setup>
        </resources>
    </global>
    <default>
        <category_slider>
            <general>
                <enabled>0</enabled>
                <transition>fade</transition>
                <pager>true</pager>
                <controls>true</controls>
                <speed>800</speed>
                <pauseonhover>true</pauseonhover>
                <easing>swing</easing>
            </general>
        </category_slider>
    </default>
    <frontend>
        <routers>
            <category_slider>
                <use>standard</use>
                <args>
                    <module>GhoSter_CategorySlider</module>
                    <frontName>category_slider</frontName>
                </args>
            </category_slider>
        </routers>
        <layout>
            <updates>
                <category_slider>
                    <file>ghoster/category_slider.xml</file>
                </category_slider>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <category_slider>
                    <file>ghoster/category_slider.xml</file>
                </category_slider>
            </updates>
        </layout>
    </adminhtml>
</config>
