.modgit/
.idea/
/nbproject/
*.tar
var
app/etc/local.xml
media/*
images/*
/html/PS/html/html_full.rar
/.settings
/html/nbproject/private/*
/images/*
/imgs/*
access.log
error.log
Thumb.db
fixpermission.sh
wordpress/wp-config.php
dev/