<?xml version="1.0"?>
<config>
    <modules>
        <Hil_Downloader>
            <version>0.1.2</version>
        </Hil_Downloader>
    </modules>
    <global>
        <helpers>
            <downloader>
                <class>Hil_Downloader_Helper</class>
            </downloader>
        </helpers>
        <blocks>
            <downloader>
                <class>Hil_Downloader_Block</class>
            </downloader>
        </blocks>
        <models>
            <downloader>
                <class>Hil_Downloader_Model</class>
                <resourceModel>downloader_mysql4</resourceModel>
            </downloader>
            <downloader_mysql4>
                <class>Hil_Downloader_Model_Mysql4</class>
                <entities>
                    <downloader>
                        <table>hil_downloader</table>
                    </downloader>
                </entities>
            </downloader_mysql4>
        </models>
        <resources>
            <downloader_setup>
                <setup>
                    <module>Hil_Downloader</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </downloader_setup>
            <downloader_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </downloader_write>
            <downloader_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </downloader_read>
        </resources>
    </global>
    <admin>
        <routers>
            <downloader>
                <use>admin</use>
                <args>
                    <module>Hil_Downloader</module>
                    <frontName>admin_downloader</frontName>
                </args>
            </downloader>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <downloader module="downloader">
                <title>Downloader</title>
                <sort_order>100</sort_order>
                <children>
                    <downloader module="downloader">
                        <title>Manage Downloader</title>
                        <sort_order>0</sort_order>
                        <action>admin_downloader/adminhtml_downloader</action>
                    </downloader>
                </children>
            </downloader>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <downloader translate="title" module="downloader">
                            <title>Downloader</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <downloader translate="title">
                                    <title>Manage E-book Downloader</title>
                                    <sort_order>0</sort_order>
                                </downloader>
                            </children>
                        </downloader>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <downloader>
                    <file>downloader.xml</file>
                </downloader>
            </updates>
        </layout>
    </adminhtml>
</config>