<?xml version="1.0"?>
<config>
    <tabs>
        <tbuyst translate="label" module="cyberfision_brand">
            <label>Custom buy guide</label>
            <sort_order>150</sort_order>
        </tbuyst>
    </tabs>
    <sections>
        <tbuys>
            <label>Guide buy</label>
            <tab>tbuyst</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General Settings</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <main_title translate="label comment">
                            <label>Buy guide title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </main_title>

                        <can_light_title>
                            <label>Buy guide what can title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </can_light_title>

                    </fields>
                </general>
            </groups>
        </tbuys>
    </sections>
</config>
