<?xml version="1.0"?>
<config>
  <modules>
    <Customs_Catechange>
      <version>0.1.0</version>
    </Customs_Catechange>
  </modules>
  <global>
    <helpers>
      <catechange>
        <class>Customs_Catechange_Helper</class>
      </catechange>
    </helpers>
	<models>
	  <catechange>
		<class>Customs_Catechange_Model</class>
		<resourceModel>catechange_mysql4</resourceModel>
	  </catechange>
	</models>
	<resources>
	  <categoryattribute1475571759_setup>
		<setup>
		  <module>Customs_Catechange</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1475571759_setup>
	  <categoryattribute1475571759_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1475571759_write>
	  <categoryattribute1475571759_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1475571759_read>
	</resources>
  </global>
</config> 