<?xml version="1.0"?>
<config>
	<tabs>
		<customconfig translate="label">
			<label>Contact us topics</label>
			<sort_order>150</sort_order>
		</customconfig>
	</tabs>
	<sections>
		<selectoptions translate="label" module="adminhtml">
			<label>Topics</label>
			<tab>customconfig</tab>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>Set up topic select options</label>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<textarea_topics translate="label comment">
						<label>List topics</label>
						<comment>Enter topic separated by a comma (ex: value 1, value 2, ...).</comment>
						<frontend_type>textarea</frontend_type>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						</textarea_topics>
					</fields>
				</general>
			</groups>
		</selectoptions>
	</sections>
</config>