<?xml version="1.0"?>
<config>
    <modules>
        <GhoSter_ShopByProject>
            <version>1.0.9</version>
        </GhoSter_ShopByProject>
    </modules>
    <global>
        <models>
            <ghoster_shopbyproject>
                <class>GhoSter_ShopByProject_Model</class>
                <resourceModel>ghoster_shopbyproject_resource</resourceModel>
            </ghoster_shopbyproject>
            <ghoster_shopbyproject_resource>
                <class>GhoSter_ShopByProject_Model_Resource</class>
                <entities>
                    <project>
                        <table>ghoster_shop_by_project</table>
                    </project>
                    <category>
                        <table>ghoster_shop_by_project_category</table>
                    </category>
                    <commonproduct>
                        <table>ghoster_shop_by_project_common_product</table>
                    </commonproduct>
                    <slide>
                        <table>ghoster_shop_by_project_slide</table>
                    </slide>
                    <product>
                        <table>ghoster_shop_by_project_product</table>
                    </product>
                    <instruction>
                        <table>ghoster_shop_by_project_instruction</table>
                    </instruction>
                </entities>
            </ghoster_shopbyproject_resource>
        </models>
        <blocks>
            <ghoster_shopbyproject>
                <class>GhoSter_ShopByProject_Block</class>
            </ghoster_shopbyproject>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>GhoSter_ShopByProject_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ghoster_shopbyproject>
                <class>GhoSter_ShopByProject_Helper</class>
            </ghoster_shopbyproject>
        </helpers>
        <resources>
            <ghoster_shopbyproject_setup>
                <setup>
                    <module>GhoSter_ShopByProject</module>
                </setup>
            </ghoster_shopbyproject_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ghoster_shopbyproject>
                <use>standard</use>
                <args>
                    <module>GhoSter_ShopByProject</module>
                    <frontName>shopbyproject</frontName>
                </args>
            </ghoster_shopbyproject>
        </routers>
        <layout>
            <updates>
                <ghoster_shopbyproject>
                    <file>ghoster/shop_by_project.xml</file>
                </ghoster_shopbyproject>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ghoster_shopbyproject>
                    <file>ghoster/shop_by_project.xml</file>
                </ghoster_shopbyproject>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <ghoster_shopbyproject>
                <use>admin</use>
                <args>
                    <module>GhoSter_ShopByProject</module>
                    <frontName>admin_shopbyproject</frontName>
                </args>
            </ghoster_shopbyproject>
        </routers>
    </admin>
</config>