<?xml version="1.0"?>
<config>
    <modules>
        <Cyberfision_HidePrice>
            <version>0.1.0</version>
        </Cyberfision_HidePrice>
    </modules>
    <global>
        <models>
            <cyberhideprice>
                <class>Cyberfision_HidePrice_Model</class>
                <resourceModel>cyberhideprice_resource</resourceModel>
            </cyberhideprice>
            <cyberhideprice_resource>
                <class>Cyberfision_HidePrice_Model_Resource</class>
            </cyberhideprice_resource>
        </models>
        <blocks>
            <cyberhideprice>
                <class>Cyberfision_HidePrice_Block</class>
            </cyberhideprice>
        </blocks>
        <helpers>
            <cyberhideprice>
                <class>Cyberfision_HidePrice_Helper</class>
            </cyberhideprice>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <cyberhideprice_hideprice>
                        <type>singleton</type>
                        <class>cyberhideprice/observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </cyberhideprice_hideprice>
                </observers>
            </catalog_product_type_prepare_full_options>
        </events>
    </frontend>
</config>